# Environment variables
.env

# Virtual environment
myenv/
venv/
.venv/
env/

.gitignore


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*/__pycache__/

# IDE and editor folders
.vscode/

.key
.db
*/.key
*/.db